body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #004d40;
}

.navbar .nav-link {
    color: #fff !important;
}

.hero {
    background-color: #00695c;
    color: #fff;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;

}

.hero p {
    font-size: 24px;
}

.btn-primary {
    background-color: #ffca28;
    border-color: #ffca28;

}

.services h2, .policy-review h2 {
    color: #00695c;
    font-size: 36px;
    font-weight: bold;
}

.card-title {
    color: #004d40;
}

.btn-primary {
    background-color: #ffca28;
    border-color: #ffca28;
    color: #004d40;
}

.policy-review {
    background-color: #f0f0f0;
}
